<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Bear Creek Login</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
</head>
<body ng-controller="loginController">
	<div ng-include="'partials/header.html'"></div>
	<div class="container-fluid carousel-background" style="height:600px">
		<div class="row ">
			<div class="col-xs-6 col-xs-offset-3">	
				<form class="form-inline" ng-submit="signUp()">
				    <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <input type="text" class="form-control" ng-model="newUser.username" placeholder="Email">
				    </div>
				    <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" ng-model="newUser.password" placeholder="Password">
				    </div>
				    <button type="submit" class="btn btn-default">Sign Up</button>
				</form>
			</div>
			<div class="col-xs-6 col-xs-offset-3">
				<form class="form-inline" ng-submit="logIn()">
				    <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <input type="text" class="form-control" ng-model="user.username" placeholder="Email">
				    </div>
				    <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
				    </div>
				    <button type="submit" class="btn btn-default">Log In</button>
				</form>
			</div>
		</div>		
	</div>	
	<div ng-include="'partials/footer.html'"></div>
</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	<script type="text/javascript" src="module.js"></script>
	<script type="text/javascript" src="main.js"></script>
</html>