body {
	padding-top: 50px;
}
.color {
	color: #54321C;
}
.header {
	height: 175px;
	background-image: linear-gradient(#ca8a61, #f0dfd3);
	color: #54321C;
	font-weight: bold;
	font-family: copperplate;
	font-size: 30px;
}
.logo {
	max-height: 175px;
	display: inline-block;
}
.center {
	text-align: center;
	padding-top: 20px;
}
.header p {
	margin-top:auto;
}
.carousel-background {
	background-color: #f0dfd3;
}
.content {
	min-height: 400px;
	/*background-color: #f9f2ed;*/
	background-image: linear-gradient(#f0dfd3, #f9f2ed);
}
.miniBtn {
	border: medium solid #54321c;
    width: 150px;
    background-image: linear-gradient(#ca8a61, #f0dfd3);
    border-radius: 30px;
    height: 50px;
    margin:30% 0;
    font-size: 20px;
    text-align: center;
	padding-top: 5%;
	box-shadow: 3px 3px 5px black;
}
.mb {
	text-decoration: none;
	color: #54321C;
}
.mb:hover {
	text-decoration: none;
}
.template {
	padding:30px 5px 5px 5px;
	min-width: 200px;
	max-width: 500px;
	color: #54321C;
}
.labels {
	width: 60px;
	margin-right: 3px;
}
.forms {
	border: thin solid grey;
    border-radius: 5px;
    min-width: 300px;
    margin: 5px 0;
}
.contact {
	border: medium solid #54321c;
    width: 150px;
    border-radius: 30px;
    height: 50px;
    background-image: linear-gradient(#ca8a61, #f0dfd3);
    font-size: 20px;
    text-align: center;
	padding-top: 2%;
	box-shadow: 3px 3px 5px black;
	margin-top: 25px;
    margin-left: 17%;
}
.serviceList {
	margin-top: 10%;	
	font-size: 16px;
}
.serviceList, li {
	padding-bottom: 5%;
}
.footer{
	min-height: 50px;
	background-color: #E0E0E0;
	color: #54321C;
	text-align: center;
}
.admin-input {
	border-radius: 5px;
	margin-top: 8px;
}
.adminImg {
	margin:3px;
	width: 100%;
}