<div class="row">
	<h2>About Us</h2>
	<p>Bear Creek Landscape Company, founded in 1980, has been serving Evergreen Colorado and surrounding areas for over 30 years.</p>

	<p>With Bear Creek Landscape Company, our clients benefit from the combined experience of new owner Justin Noska and founders John Magdalenski and Liz Besant. Our company has grown into a full service, year-round landscape and maintenance business. It is important to our culture that each customer gets to know our owner and staff on a first-name basis. This allows our customers to reach out to the owner directly whenever there is a question, comment or concern.</p>

	<strong>&quot;Small Enough to be Personal, Big Enough to Get the Job Done&rdquo;-</strong>
	<p>Our motto rings true as our steady growth has come from &lsquo;word-of-mouth&rsquo; advertising from our hundreds of satisfied customers. We are dedicated to keeping things personal, simple and efficient.</p>

	<strong>-Justin Noska</strong> <br>
	<strong>(303)-250-3113</strong>

</div>