<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div ng-repeat="photo in imageArray" class="col-xs-10 col-xs-offset-1 col-md-3 col-sm-6">
			<img src="{{photo.url}}" style="max-height:100px">
			<button ng-click="imgRemove(photo)"class="btn btn-warning">Remove</button>
		</div>	
	</div>
</div>

<div class="row">
	<form class"col-xs-10 col-xs-offset-1" ng-submit="submitImage()">	
		<div class="form-group">
	    	<label for="entryImage">Photo Input</label>
	    	<input type="file" ng-model="image.file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-select ngf-resize="{width: 800, quality:0.8}" ngf-resize-if="resizeCheck($image.file, $width, $height)"
	    	>
	    	<p class="help-block">Choose a photo your gallery.</p>
	    </div>
	    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>		