<div class="row">	
	<h2>Contact Us</h2>
	<h3>(303)-250-3113</h3>
	<form class="form-horizontal has-warning has-success col-xs-10" ng-submit="submitCust()">
		<div class="form-group">
			<label for="customerName">Name</label>
			<input type="text" class="form-control" ng-model="cust.name" placeholder="Jane Doe">
		</div>
		<div class="form-group">
			<label for="customerEmail">Email</label>
			<input type="email" class="form-control" ng-model="cust.email" placeholder="jane.doe@example.com">
		</div>
		<div class="form-group">
			<label for="customerNumber">Phone Number</label>
			<input type="tel" class="form-control" ng-model="cust.number" placeholder="555-555-5555">
		</div>
		<div class="form-group">
	    	<label for="entryContent">What can we help you with?</label>
	    	<textarea type="text" class="form-control" ng-model="cust.query" placeholder="Content" rows="4"></textarea> 
	    </div>  
		    <button type="submit" class="btn btn-default" style="display:block">Send</button>
	</form>
</div>




